.meter-group.resource-bar {
  --bar-first-color: #3a0e5f;
  --bar-second-color: #8a40c7;
  --bar-animation-name: scroll;
  --border-width: 3px;
  --bar-percentage: 0%;
  --star-background: url('../assets/img/union-gauge/seamless-energy-clouds.jpg');
  --energy-background: url('../assets/img/union-gauge/energy.png');
  --bubbles-background: url('../assets/img/union-gauge/bubbles.png');
}

.meter-group.resource-bar .progress:before {
  border-color: var(--bar-first-color);
  inline-size: var(--bar-percentage);
  background: linear-gradient(to right, var(--bar-first-color), var(--bar-second-color), var(--bar-first-color));
  animation: var(--bar-animation-name) 5s linear infinite;
  background-size: 200% 100%;
  border-style: solid;
  border-width: 0 var(--border-width) 0 0;
}

.resource-uses .form-fields>* {
  align-self: center;
}

.resource-bar-config input[type="checkbox"]:before {
  color: var(--dnd5e-color-gold);
}

.resource-bar-config input[type="checkbox"]:checked::before {
  color: var(--checkbox-checkmark-color);
}

.resource-bar-config input[type="color"] {
  background-color: transparent;
}

.resource-bar-config input[type="color"],
.resource-bar-config input[type="checkbox"] {
  border: 0;
}

.meter-group.resource-bar .progress[class*="animation-img"]:before {
  background-size: 200px auto, 200% auto !important;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  box-shadow: -10px 0 10px -10px var(--bar-first-color) inset, 3px 0 3px -3px #000 inset, 0 3px 3px -3px #000 inset, 0 -3px 3px -3px #000 inset;
  background-blend-mode: overlay;
}


.meter-group.resource-bar .progress.animation-img-energy:before,
.meter-group.resource-bar .progress.animation-img-energy-h:before {
  background-image: var(--energy-background), linear-gradient(to right, var(--bar-first-color), var(--bar-second-color), var(--bar-first-color));
}

.meter-group.resource-bar .progress.animation-img-energy-h:before {
  background-size: 100px auto, 200% auto !important;
}

.meter-group.resource-bar .progress.animation-img-bubbles:before {
  background-image: var(--bubbles-background), linear-gradient(to right, var(--bar-first-color), var(--bar-second-color), var(--bar-first-color));
}

.meter-group.resource-bar .progress.animation-img-star:before {
  background-image: var(--star-background), linear-gradient(to right, var(--bar-first-color), var(--bar-second-color), var(--bar-first-color));
}

.meter-group.resource-bar.custom-resource-bar {
  position: fixed;
  display: flex;
  align-self: end;
  align-items: end;
  justify-content: center;
  align-items: end;
  gap: 0.25rem;
  padding: 0;
  width: fit-content;
  left: 0;
  right: 0;
  transform-origin: bottom;
  margin: 0 auto;
}

.custom-resource-bar .label.roboto-condensed-upper {
  font-family: var(--dnd5e-font-roboto-condensed);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.15rem;
  color: #63b0c4;
  text-shadow: 0 0 6px var(--dnd5e-shadow-45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.custom-resource-bar .meter {
  --meter-background: #0b0a13bf;
  border: 1px solid #63b0c4;
  border-radius: 4px;
  background: var(--meter-background);
  font-family: var(--dnd5e-font-roboto);
  font-weight: bold;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 25px;
  width: 250px;
}

.custom-resource-bar .meter .label {
  inline-size: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  padding-inline-start: 8px;
  padding-inline-end: 12px;
  color: var(--color-text-light-0);
}

.custom-resource-bar .meter .label .value,
.custom-resource-bar .meter .label .max {
  text-shadow: 0 0 4px var(--dnd5e-color-gold);
}

.custom-resource-bar .meter .label .separator {
  color: var(--dnd5e-color-gold);
}

.custom-resource-bar .animation-img-bubbles:before {
  content: "";
  position: absolute;
  block-size: 100%;
  inline-size: var(--bar-percentage);
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
  clip-path: polygon(0 0, calc(100% + 6px) 0, calc(100% + 6px) 100%, 0 100%);
}

.fade-in {
  opacity: 0;
}

.fade-in.appear {
  opacity: 1;
}

@keyframes scroll {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: -200% 0%
  }
}

@keyframes img-energy {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0% -400px;
  }
}

@keyframes img-energy-h {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 800px -200px, 0 0;
  }
}

@keyframes img-bubbles {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0% -400px;
  }
}

@keyframes img-star {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0% -400px;
  }
}